@import "bourbon"
@import "vars.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	overflow-x: hidden
	font-family: 'RobotoThin100', sans-serif
	font-weight: 100
	font-style: normal
	.mainHeader
		.header
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			position: relative
			background-size: 100%
			background-attachment: fixed
			background-repeat: no-repeat
			padding: 15%
			h1
				font-size: 60px
				color: #fff
				margin: 20%
				animation-duration: 1.5s
				z-index: 1



.hidden
	display: none
